body,
* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  padding: 20px;
}

h2 {
  text-align: center;
  padding: 20px;
}

h3 {
  text-align: center;
  padding: 20px;
}

.guess {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 30px;
}

.buttons {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.buttons .button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  background-color: black;
  color: white;
}

.buttons .high:hover {
  background-color: red;
}
.buttons .low:hover {
  background-color: green;
}
.buttons .correct:hover {
  background-color: yellow;
  color: black;
}

.play-again-button-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.button.play-again {
  display: none;
  border: none;
  border-radius: 5px;
  padding: 25px 50px;
  font-size: 20px;
  background-color: blue;
}

.button.play-again:hover {
  background-color: orange;
}
